# Introduction to python and jupyter notebook
- we can use Markdown to write text between our calculations

In [4]:
3 + 6

9

It is better to define variables and assign values to them, so we can use them in later calculations

In [5]:
a = 3
b = 9

In [6]:
a

3

In [7]:
# only result from last row in cell will be returned
a
b

9

In [8]:
# we can use print() to return result of each row in cell
print(a)
print(b)
print(a + b)

3
9
12

## Exercise

In [ ]:
# %load code/notebook.py
Example code:
# code
print("a =", a, "and b =" , b)
print(a + b)      # addition
print(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(2 * a % b)  # modulus - returns the remainder
# code

1. Create a new cell and paste into it the assignments to the variables a and b and the contents of the code above. Remove all of the calls to the print function so you only have the expressions that were to be printed and run the code. What is returned?

In [70]:
# only the result of the last line is returned, but everything will be calculated by python
a = 3
b = 9
a + b
a * b      # multiplication
a - b      # subtraction
a / b     # division
b ** a     # exponentiation
2 * a % b

6

2. Make a new cell with only `("a =", a, "and b =" , b)` in it. How does this output differ from when we used the print function?

In [71]:
"a =", a, "and b =" , b

('a =', 3, 'and b =', 9)

In [72]:
# compare with print
print("a =", a, "and b =" , b)

a = 3 and b = 9

3. Practice assigning values to variables using as many different operators as you can think of.

In [73]:
# e.g.
c = a/5
c

0.6

4. Create some expressions to be evaluated using parentheses to enforce the order of mathematical operations that you require

In [75]:
# e.g.
print((b + a) * a)
print(b + a * a)

36
18

In [9]:
# we can get help for a function (like print() or type()) by using help
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object_or_name, bases, dict)
 |  type(object) -> the object's type
 |  type(name, bases, dict) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(...)
 |      __dir__() -> list
 |      specialized __dir__ implementation for types
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(...)
 |      __instancecheck__() -> bool
 |      check if an object is an instance
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(...)
 |      __sizeof__() -> int
 |      return memory consumption of the type object
 |
 |  __subclasscheck__(...)
 |      __subclasscheck__() -> bool
 |      check if a class is a subclass
 |
 |  __subclasses__(...)
 |      __subclasses__() -> list of immediate subclasses
 |
 |  mro(...)
 |      mro() -> list
 |      return a type's method resolution order
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The most base type
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 864
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148291584
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

- instead of using help we can also put the cursor within the parentheses and push `Shift` + `Tab` and some documentation pops up, try it out

In [ ]:
print()

In [2]:
a = 3
b = 9
c = a + b

#### Data types
`type()` returns the data type of a variable (also called an object), common types are integer (`int`), decimal point numbers (`float`), text or string (`str`) and boolean, i.e. True and False (`bool`)

In [3]:
type(a)

int

In [4]:
type(3.145)

float

In [10]:
# text (strings) always has to be in quotation marks!
name = "Katrin"

In [12]:
type(name)

str

In [13]:
surname = "Tirok"

In [14]:
# strings can be added together using `+`
name + surname

'KatrinTirok'

In [9]:
name + " " + surname

'Katrin Tirok'

In [10]:
# boolean data type
a == b

False

In [11]:
type(a < b)

bool

In [12]:
a < b

True

In [13]:
# text and numbers can not be added together!
name + a

TypeError: must be str, not int

### Some operations with strings
- python knows general *functions*, such as `print()`, `type()`, or `len()` (for length of an object/variable), which work for different types of objects, i.e. for numbers as well as for text ...
- python also knows object specific functions, they are called *methods* and are used together with a specific variable by adding the method with a `.`, they only work for this one type, i.e. for strings, or for numbers, or for DataFrames (when we work data)

In [16]:
myString = "The quick brown fox"

In [17]:
# here is a method that only works with strings and tests whether a strings starts with a specific string/word
myString.startswith("The")

True

In [21]:
# this method turns all letters into upper case letters
myString.upper()

'THE QUICK BROWN FOX'

In [19]:
# the original string was not change, because we looked at a "View" of myString
myString

'The quick brown fox'

In [22]:
# to keep the string with upper case letter we need to define a new variable for it
myString_upper = myString.upper()
# return what is in myString_upper
myString_upper

'THE QUICK BROWN FOX'

In [19]:
# get the lenght of our string
len(myString)

19

In [23]:
# extract the first letter of myString, !python starts counting at 0!
myString[0]

'T'

In [24]:
# return the first 3 letters of myString, !0 to 3, but not including 3, 
# i.e. return letters at positions 0, 1, and 2
myString[0:3]

'The'

# Exercise
- return the last character/letter
- return the word quick

In [22]:
# although the lenght of myString is 19 we have to use 18 for the last character, 
# since python starts counting at 0
myString[18]

'x'

In [23]:
myString[4:9]

'quick'

### Lists
- lists can hold more than one value
- lists can hold different types of values
- lists are very useful and used a lot
- you can make a list using square brackets `[]`
- every item in a list is seperated by a comma (`,`) from the next item
- we can add existing variables to a list

In [26]:
list1 = [7.5, 4, "text", a, myString]

In [27]:
list1

[7.5, 4, 'text', 3, 'The quick brown fox']

In [33]:
# we also use indices (positions) to return individual items from the list
# here the 5th item in list (remember 0,1,2,3,4 = 5) is our myString
list1[4]

'The quick brown fox'

### The range function
- `range()` can be used to generate a sequenze of numbers
- `range()` itself does not return numbers, but if we combine it with `list()` it does
- `list()` changes range into a list

In [40]:
range(10)

range(0, 10)

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Exercise

In [32]:
# %load code/index
# code
list7_2 = list(range(2, 11, -2))
# break cell here

1. Predict what the value of `list7_2` will be, is it what you expected? Summarize what a negative step value does.

2. Create a list using the range() function which contains the even numbers between 1 and 10 in reverse order ([10,8,6,4,2])

Note: `range()` can also take 3 arguments (key words), e.g. `range(0,21,5)`, the first denotes *start*, the second *stop* and the third the *step*, e.g. make a sequence from 0 to 20 in steps of 5

In [33]:
# list7_2 returns an empty list, because
list7_2 = list(range(2, 11, -2))
list7_2

[]

In [42]:
# to make it work with negative step, we need to start with the higher number
list7_2 = list(range(11, 2, -2))
list7_2

[11, 9, 7, 5, 3]

In [47]:
# to solve 2. from exercise, list [10,8,6,4,2]
list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [44]:
# if we want to go down all the way to 0, we need to tell range to stop at -1, 
# i.e. go from 10 to -1 but don't include -1
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

# Naming of variables
- be careful when naming variables in python
- python is case sensitive
- variable names need to start with a letter, not a number or special character
- variable names can not have spaces
- variable names should be descriptive, but should not be too long
- we can use `_` to separate differnt name parts, e.g. mystring_upper, mystring_lower
- __DON'T USE NAMES OF EXISTING FUNCTIONS AS VARIABLE NAMES__ (see below)

In [56]:
# here we create a new list and call it `list`
list = [8, 10, 2]

In [57]:
# we get the content of our variable `list`, and everything seems to be fine
list

[8, 10, 2]

In [58]:
# now we want to create a range of numbers using the `list()` and the `range()` function
# we get an error, because in our current workspace (active python session) 
# `list` represents now a list with the numbers `[8, 10, 2]` and not the function `list()` anymore
list(range(6))

TypeError: 'list' object is not callable

In [59]:
# we can delete our variable list using del() and we can use the list() function again
# del() only can delete variables from your current python session, it will never delete built in functions
del(list)

In [60]:
list(range(6))

[0, 1, 2, 3, 4, 5]