# Reading data with pandas in python

In [1]:
# import external library pandas into python session, so we can use functions from the library
import pandas as pd

In [2]:
safi = pd.read_csv("data/SAFI_clean.csv")

In [3]:
safi

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,cow_cart;bicycle;radio;cow_plough;solar_panel;...,2,Jan;Sept;Oct;Nov;Dec,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,NaN,NaN,1,solar_torch,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,NaN,NaN,2,bicycle;radio;cow_plough;solar_panel;mobile_phone,2,Sept;Oct;Nov;Dec,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,5,God,2016-11-17T00:00:00Z,7,40,burntbricks,1,NaN,NaN,4,motorcyle;radio;cow_plough;mobile_phone,2,Aug;Sept;Oct;Nov,uuid:2c867811-9696-4966-9866-f35c3e97d02d
5,6,God,2016-11-17T00:00:00Z,3,3,muddaub,1,NaN,NaN,1,NaN,2,Aug;Sept;Oct,uuid:daa56c91-c8e3-44c3-a663-af6a49a2ca70
6,7,God,2016-11-17T00:00:00Z,6,38,muddaub,1,no,never,1,motorcyle;cow_plough,3,Nov,uuid:ae20a58d-56f4-43d7-bafa-e7963d850844
7,8,Chirodzo,2016-11-16T00:00:00Z,12,70,burntbricks,3,yes,never,2,motorcyle;bicycle;television;radio;cow_plough;...,2,Jan,uuid:d6cee930-7be1-4fd9-88c0-82a08f90fb5a
8,9,Chirodzo,2016-11-16T00:00:00Z,8,6,burntbricks,1,no,never,3,television;solar_panel;solar_torch,3,Jan;Dec,uuid:846103d2-b1db-4055-b502-9cd510bb7b37
9,10,Chirodzo,2016-12-16T00:00:00Z,12,23,burntbricks,5,no,never,2,cow_cart;motorcyle;bicycle;television;radio;co...,3,Jan;Oct;Nov;Dec,uuid:8f4e49bc-da81-4356-ae34-e0d794a23721
10,11,God,2016-11-21T00:00:00Z,6,20,sunbricks,1,NaN,NaN,2,radio;cow_plough,2,Oct;Nov,uuid:d29b44e3-3348-4afc-aa4d-9eb34c89d483
11,12,God,2016-11-21T00:00:00Z,7,20,burntbricks,3,yes,never,2,cow_cart;bicycle;radio;cow_plough;table,3,Sept;Oct,uuid:e6ee6269-b467-4e37-91fc-5e9eaf934557
12,13,God,2016-11-21T00:00:00Z,6,8,burntbricks,1,no,never,3,bicycle;radio;cow_plough;mobile_phone,2,Sept;Oct;Nov,uuid:6c00c145-ee3b-409c-8c02-2c8d743b6918
13,14,God,2016-11-21T00:00:00Z,10,20,burntbricks,3,NaN,NaN,3,bicycle;radio;cow_plough;solar_panel;table;mob...,3,June;July;Aug;Sept;Oct;Nov,uuid:9b21467f-1116-4340-a3b1-1ab64f13c87d
14,15,God,2016-11-21T00:00:00Z,5,30,sunbricks,2,yes,once,3,bicycle;radio;cow_plough;solar_panel;table,2,Jan;Feb;Mar;Apr;May;June;July;Aug;Sept;Oct;Nov,uuid:a837e545-ff86-4a1c-a1a5-6186804b985f
15,16,God,2016-11-24T00:00:00Z,6,47,muddaub,1,NaN,NaN,4,radio;cow_plough;solar_panel;solar_torch,3,Jan;Feb,uuid:d17db52f-4b87-4768-b534-ea8f9704c565
16,17,God,2016-11-21T00:00:00Z,8,20,sunbricks,1,NaN,NaN,1,mobile_phone,2,Nov;Dec,uuid:4707f3dc-df18-4348-9c2c-eec651e89b6b
17,18,God,2016-11-21T00:00:00Z,4,20,muddaub,1,NaN,NaN,3,bicycle;mobile_phone,2,Oct;Nov,uuid:7ffe7bd1-a15c-420c-a137-e1f006c317a3
18,19,God,2016-11-21T00:00:00Z,9,23,burntbricks,2,NaN,NaN,2,bicycle;radio;cow_plough;solar_panel;solar_tor...,3,Oct;Nov;Dec,uuid:e32f2dc0-0d05-42fb-8e21-605757ddf07d
19,20,God,2016-11-21T00:00:00Z,6,1,burntbricks,1,NaN,NaN,1,bicycle;cow_plough;solar_torch,2,Oct;Nov,uuid:d1005274-bf52-4e79-8380-3350dd7c2bac
20,21,God,2016-11-21T00:00:00Z,8,20,burntbricks,1,no,never,3,NaN,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:6570a7d0-6a0b-452c-aa2e-922500e35749
21,22,God,2016-11-21T00:00:00Z,4,20,muddaub,1,NaN,NaN,1,radio,2,Jan;Feb;Mar;Apr;Aug;Sept;Oct;Nov;Dec,uuid:a51c3006-8847-46ff-9d4e-d29919b8ecf9
22,23,Ruaca,2016-11-21T00:00:00Z,10,20,burntbricks,4,NaN,NaN,3,cow_cart;bicycle;television;radio;cow_plough;s...,3,none,uuid:58b37b6d-d6cd-4414-8790-b9c68bca98de
23,24,Ruaca,2016-11-21T00:00:00Z,6,4,burntbricks,2,no,never,3,radio;table;sofa_set;mobile_phone,2,Nov;Dec,uuid:661457d3-7e61-45e8-a238-7415e7548f82
24,25,Ruaca,2016-11-21T00:00:00Z,11,6,burntbricks,3,no,never,2,cow_cart;motorcyle;television;radio;cow_plough...,2,Jan;Feb;Oct,uuid:45ed84c4-114e-4df0-9f5d-c800806c2bee
25,26,Ruaca,2016-11-21T00:00:00Z,3,20,burntbricks,2,no,never,2,radio;cow_plough;table;mobile_phone,2,none,uuid:1c54ee24-22c4-4ee9-b1ad-42d483c08e2e
26,27,Ruaca,2016-11-21T00:00:00Z,7,36,burntbricks,2,NaN,NaN,3,bicycle;radio;cow_plough;solar_panel;solar_tor...,3,none,uuid:3197cded-1fdc-4c0c-9b10-cfcc0bf49c4d
27,28,Ruaca,2016-11-21T00:00:00Z,2,2,muddaub,1,no,more_once,1,NaN,3,Aug;Sept;Oct,uuid:1de53318-a8cf-4736-99b1-8239f8822473
28,29,Ruaca,2016-11-21T00:00:00Z,7,10,burntbricks,2,yes,frequently,1,motorcyle;bicycle;radio;table;mobile_phone,3,Jan;Feb,uuid:adcd7463-8943-4c67-b25f-f72311409476
29,30,Ruaca,2016-11-21T00:00:00Z,7,22,muddaub,2,NaN,NaN,1,bicycle;radio;mobile_phone,2,Jan;Feb,uuid:59341ead-92be-45a9-8545-6edf9f94fdc6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,105,Ruaca,2017-04-28T00:00:00Z,6,40,sunbricks,1,yes,frequently,2,motorcyle;radio;cow_plough;solar_panel;mobile_...,3,Jan;Feb;Dec,uuid:af0904ee-4fdb-4090-973f-599c81ddf022
102,106,God,2017-04-30T00:00:00Z,15,22,sunbricks,5,no,never,2,cow_cart;motorcyle;bicycle;radio;sterio;cow_pl...,3,Oct;Nov;Dec,uuid:468797c1-4a65-4f35-9c83-e28ce46972a2
103,109,God,2017-05-03T00:00:00Z,4,12,sunbricks,1,NaN,NaN,3,cow_cart;bicycle;radio;cow_plough;table,3,July;Aug;Sept;Oct;Nov,uuid:602cd3f6-4a97-49c6-80e3-bcfd5c78dfa4
104,110,Ruaca,2017-05-03T00:00:00Z,6,22,sunbricks,3,no,never,3,bicycle;radio;cow_plough;table;mobile_phone,2,none,uuid:e7c51ac4-24e4-475e-88e7-f85e896945e3
105,113,Ruaca,2017-05-03T00:00:00Z,11,26,burntbricks,3,no,never,4,cow_cart;motorcyle;bicycle;radio;cow_plough;so...,3,none,uuid:01210861-aba1-4268-98d0-0260e05f5155
106,118,Ruaca,2017-05-04T00:00:00Z,5,25,muddaub,1,NaN,NaN,1,radio;solar_torch;mobile_phone,3,Oct;Nov;Dec,uuid:77335b2e-8812-4a35-b1e5-ca9ab626dfea
107,125,Ruaca,2017-05-04T00:00:00Z,5,14,burntbricks,1,no,more_once,2,bicycle;radio;cow_plough;solar_panel;solar_tor...,3,Jan;Sept;Oct;Nov;Dec,uuid:02b05c68-302e-4e7a-b229-81cb1377fd29
108,119,Ruaca,2017-05-04T00:00:00Z,3,14,muddaub,1,no,never,4,bicycle;cow_plough;solar_panel;mobile_phone,3,none,uuid:fa201fce-4e94-44b8-b435-c558c2e1ed55
109,115,Ruaca,2017-05-11T00:00:00Z,4,16,sunbricks,2,NaN,NaN,3,cow_cart;motorcyle;bicycle;television;radio;co...,3,none,uuid:628fe23d-188f-43e4-a203-a4bf3257d461
110,108,God,2017-05-11T00:00:00Z,15,22,burntbricks,2,no,never,4,cow_cart;bicycle;radio;cow_plough;solar_panel;...,3,Aug;Sept;Oct;Nov,uuid:e4f4d6ba-e698-45a5-947f-ba6da88cc22b
111,116,Ruaca,2017-05-11T00:00:00Z,5,25,burntbricks,3,NaN,NaN,3,motorcyle;bicycle;television;radio;cow_plough;...,3,Jan;Nov;Dec,uuid:cfee6297-2c0e-4f8a-94cc-9aaee0bd64cb
112,117,Ruaca,2017-05-11T00:00:00Z,10,28,muddaub,4,NaN,NaN,1,motorcyle;television;radio;solar_panel;solar_t...,3,Jan;Feb;Nov;Dec,uuid:3fe626b3-c794-48e1-a80f-5bfe440c507b
113,144,Ruaca,2017-05-18T00:00:00Z,7,5,burntbricks,4,no,frequently,4,cow_cart;television;radio;cow_plough;solar_pan...,2,none,uuid:0670cef6-d233-4852-89d8-36955261b0a3
114,143,Ruaca,2017-05-18T00:00:00Z,10,24,burntbricks,2,no,frequently,3,cow_cart;motorcyle;television;radio;cow_plough...,3,Jan;Dec,uuid:9a096a12-b335-468c-b3cc-1191180d62de
115,150,Ruaca,2017-05-18T00:00:00Z,7,8,muddaub,1,no,never,1,mobile_phone,3,Sept;Oct;Nov,uuid:92613d0d-e7b1-4d62-8ea4-451d7cd0a982
116,159,God,2017-05-18T00:00:00Z,4,24,sunbricks,1,no,never,1,radio;solar_panel;solar_torch,3,Sept;Oct;Nov,uuid:37577f91-d665-443e-8d70-b914954cef4b
117,160,God,2017-06-03T00:00:00Z,7,13,burntbricks,2,yes,frequently,2,cow_cart;cow_plough;solar_torch;mobile_phone,2,Nov,uuid:f22831ec-6bc3-4b73-9197-4b01e01abb66
118,165,Ruaca,2017-06-03T00:00:00Z,9,14,burntbricks,1,no,never,3,cow_cart;motorcyle;bicycle;television;radio;co...,3,none,uuid:62f3f7af-f0f3-4f88-b9e0-acf8baa49ae4
119,166,Ruaca,2017-06-03T00:00:00Z,11,16,muddaub,1,no,never,1,bicycle;solar_torch;mobile_phone,2,Feb;Mar,uuid:40aac732-94df-496c-97ba-5b67f59bcc7a
120,167,Ruaca,2017-06-03T00:00:00Z,8,24,muddaub,1,no,never,3,motorcyle;radio;cow_plough;solar_panel;solar_t...,2,Jan;Nov;Dec,uuid:a9d1a013-043b-475d-a71b-77ed80abe970
121,174,Ruaca,2017-06-03T00:00:00Z,12,25,burntbricks,2,no,never,3,car;lorry;motorcyle;radio;sterio;cow_plough;so...,3,Jan;Feb;Dec,uuid:43ec6132-478c-4f87-878d-fb3c0c4d0c74
122,175,Ruaca,2017-06-03T00:00:00Z,7,36,burntbricks,1,no,never,4,motorcyle;bicycle;radio;sterio;cow_plough;sola...,2,Jan;Oct;Nov;Dec,uuid:64fc743e-8176-40f6-8ae4-36ae97fac1d9
123,189,Ruaca,2017-06-03T00:00:00Z,15,16,sunbricks,1,no,never,3,motorcyle;radio;sterio;cow_plough;solar_panel;...,3,Nov,uuid:c17e374c-280b-4e78-bf21-74a7c1c73492
124,191,Ruaca,2017-06-03T00:00:00Z,10,5,burntbricks,4,no,never,1,radio;cow_plough;solar_panel;solar_torch;mobil...,2,Oct;Nov;Dec,uuid:dad53aff-b520-4015-a9e3-f5fdf9168fe1
125,192,Chirodzo,2017-06-03T00:00:00Z,9,20,burntbricks,1,no,once,1,bicycle;television;radio;sterio;solar_panel;so...,3,Jan;Nov;Dec,uuid:f94409a6-e461-4e4c-a6fb-0072d3d58b00
126,126,Ruaca,2017-05-18T00:00:00Z,3,7,burntbricks,1,no,more_once,3,motorcyle;radio;solar_panel,3,Oct;Nov;Dec,uuid:69caea81-a4e5-4e8d-83cd-9c18d8e8d965
127,193,Ruaca,2017-06-04T00:00:00Z,7,10,cement,3,no,more_once,3,car;lorry;television;radio;sterio;cow_plough;s...,3,none,uuid:5ccc2e5a-ea90-48b5-8542-69400d5334df
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [5]:
# get the first few rows from a dataframe
safi.head()

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,cow_cart;bicycle;radio;cow_plough;solar_panel;...,2,Jan;Sept;Oct;Nov;Dec,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,NaN,NaN,1,solar_torch,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,NaN,NaN,2,bicycle;radio;cow_plough;solar_panel;mobile_phone,2,Sept;Oct;Nov;Dec,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,5,God,2016-11-17T00:00:00Z,7,40,burntbricks,1,NaN,NaN,4,motorcyle;radio;cow_plough;mobile_phone,2,Aug;Sept;Oct;Nov,uuid:2c867811-9696-4966-9866-f35c3e97d02d

In [6]:
# get all column (variable) names from safi dataframe
safi.columns

Index(['key_ID', 'village', 'interview_date', 'no_membrs', 'years_liv',
       'respondent_wall_type', 'rooms', 'memb_assoc', 'affect_conflicts',
       'liv_count', 'items_owned', 'no_meals', 'months_lack_food',
       'instanceID'],
      dtype='object')

# Exercise
# %load code/headtail
1. As well as the `head()` method there is a `tail()` method. What do you think it does? Try it.

2. Both methods accept a single numeric parameter. What do you think it does? Try it.

In [8]:
# tail() returns the last few rows (observations) of our data
safi.tail()

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
126,126,Ruaca,2017-05-18T00:00:00Z,3,7,burntbricks,1,no,more_once,3,motorcyle;radio;solar_panel,3,Oct;Nov;Dec,uuid:69caea81-a4e5-4e8d-83cd-9c18d8e8d965
127,193,Ruaca,2017-06-04T00:00:00Z,7,10,cement,3,no,more_once,3,car;lorry;television;radio;sterio;cow_plough;s...,3,none,uuid:5ccc2e5a-ea90-48b5-8542-69400d5334df
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [9]:
# head and tail take one argument, a number, telling how many rows to returns
safi.tail(2)

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [7]:
# python is case sensitive, and we can only use a method with a variable that was defined before
# we never created a variable SAFI but we did safi
SAFI.head()

NameError: name 'SAFI' is not defined

In [9]:
type(safi)

pandas.core.frame.DataFrame

In [10]:
safi.tail()

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
126,126,Ruaca,2017-05-18T00:00:00Z,3,7,burntbricks,1,no,more_once,3,motorcyle;radio;solar_panel,3,Oct;Nov;Dec,uuid:69caea81-a4e5-4e8d-83cd-9c18d8e8d965
127,193,Ruaca,2017-06-04T00:00:00Z,7,10,cement,3,no,more_once,3,car;lorry;television;radio;sterio;cow_plough;s...,3,none,uuid:5ccc2e5a-ea90-48b5-8542-69400d5334df
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [11]:
safi.tail(3)

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [10]:
# return number of rows and number of columns
safi.shape

(131, 14)

In [11]:
# return number of cells
safi.size

1834

In [13]:
# return data types of individual columns of data frame
# object in pandas DataFrames stands for strings
safi.dtypes

key_ID                   int64
village                 object
interview_date          object
no_membrs                int64
years_liv                int64
respondent_wall_type    object
rooms                    int64
memb_assoc              object
affect_conflicts        object
liv_count                int64
items_owned             object
no_meals                 int64
months_lack_food        object
instanceID              object
dtype: object

## Extracting columns and rows from dataframes

In [15]:
safi.village

0           God
1           God
2           God
3           God
4           God
5           God
6           God
7      Chirodzo
8      Chirodzo
9      Chirodzo
10          God
11          God
12          God
13          God
14          God
15          God
16          God
17          God
18          God
19          God
20          God
21          God
22        Ruaca
23        Ruaca
24        Ruaca
25        Ruaca
26        Ruaca
27        Ruaca
28        Ruaca
29        Ruaca
         ...
101       Ruaca
102         God
103         God
104       Ruaca
105       Ruaca
106       Ruaca
107       Ruaca
108       Ruaca
109       Ruaca
110         God
111       Ruaca
112       Ruaca
113       Ruaca
114       Ruaca
115       Ruaca
116         God
117         God
118       Ruaca
119       Ruaca
120       Ruaca
121       Ruaca
122       Ruaca
123       Ruaca
124       Ruaca
125    Chirodzo
126       Ruaca
127       Ruaca
128       Ruaca
129    Chirodzo
130    Chirodzo
Name: village, Length: 131, dtype: object

In [16]:
safi["village"]

0           God
1           God
2           God
3           God
4           God
5           God
6           God
7      Chirodzo
8      Chirodzo
9      Chirodzo
10          God
11          God
12          God
13          God
14          God
15          God
16          God
17          God
18          God
19          God
20          God
21          God
22        Ruaca
23        Ruaca
24        Ruaca
25        Ruaca
26        Ruaca
27        Ruaca
28        Ruaca
29        Ruaca
         ...
101       Ruaca
102         God
103         God
104       Ruaca
105       Ruaca
106       Ruaca
107       Ruaca
108       Ruaca
109       Ruaca
110         God
111       Ruaca
112       Ruaca
113       Ruaca
114       Ruaca
115       Ruaca
116         God
117         God
118       Ruaca
119       Ruaca
120       Ruaca
121       Ruaca
122       Ruaca
123       Ruaca
124       Ruaca
125    Chirodzo
126       Ruaca
127       Ruaca
128       Ruaca
129    Chirodzo
130    Chirodzo
Name: village, Length: 131, dtype: object

In [17]:
# return village, interview_date, no_membrs
safi_some_cols = safi[["village","interview_date","no_membrs"]]
safi_some_cols.head()

  village        interview_date  no_membrs
0     God  2016-11-17T00:00:00Z          3
1     God  2016-11-17T00:00:00Z          7
2     God  2016-11-17T00:00:00Z         10
3     God  2016-11-17T00:00:00Z          7
4     God  2016-11-17T00:00:00Z          7

In [18]:
# extract 2nd to 3rd row
safi[1:3]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,cow_cart;bicycle;radio;cow_plough;solar_panel;...,2,Jan;Sept;Oct;Nov;Dec,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,NaN,NaN,1,solar_torch,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:193d7daf-9582-409b-bf09-027dd36f9007

In [20]:
safi[0:1]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef

# %load code/pdindex.py
See what happens when you try each of the following:

1. List the columns you want out of order from the way they appear in the file?

In [16]:
# columns will be returned in the order you ask for
safi[['no_membrs','respondent_wall_type','village']].head(3)

   no_membrs respondent_wall_type village
0          3              muddaub     God
1          7              muddaub     God
2         10          burntbricks     God

2. What happens if we put the same column name in twice?

In [18]:
safi[['village', 'village','no_membrs']].head(3)

  village village  no_membrs
0     God     God          3
1     God     God          7
2     God     God         10

3. What does python do if you use a non-existing column name? (a.k.a Typo)

In [19]:
# gives a key-error
safi[['village','new_column']]

KeyError: "['new_column'] not in index"

4. Use help to figure out how to select a range of columns

you can check in the pandas documentation 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc

In [25]:
# you can use the iloc method, first range (0:3) are the rows to return, second range (1:4) are the columns
safi.iloc[0:3,1:4]

  village        interview_date  no_membrs
0     God  2016-11-17T00:00:00Z          3
1     God  2016-11-17T00:00:00Z          7
2     God  2016-11-17T00:00:00Z         10

5. How can you select only the first row?

In [26]:
safi[0:1]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef

6. What about the last 3 rows?

In [40]:
# you can use negative numbers to go backwards from the end of the dataframe
safi[-3:len(safi)]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [42]:
# the above is the same as 128 to 131 not including 131
safi[128:131]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

## Exporting new dataframe to a csv file

In [31]:
safi_subset = safi[["village","interview_date",
                   "no_membrs"]]
safi_subset.head()

  village        interview_date  no_membrs
0     God  2016-11-17T00:00:00Z          3
1     God  2016-11-17T00:00:00Z          7
2     God  2016-11-17T00:00:00Z         10
3     God  2016-11-17T00:00:00Z          7
4     God  2016-11-17T00:00:00Z          7

In [33]:
# saving a pandas dataframe as a csv file
safi_subset.to_csv("data/SAFI_subset.csv")

# Quiz

We want to create a sequence of numbers from 3 to 15 in steps of 3

In [43]:
# first attempt
range[3:3:15]

TypeError: 'type' object is not subscriptable

In [44]:
# 2nd attempt
range[3,3,15]

TypeError: 'type' object is not subscriptable

In [45]:
# 3rd attempt
list(range(16,2,-3))

[16, 13, 10, 7, 4]

In [46]:
# correct result
list(range(3,16,3))

[3, 6, 9, 12, 15]

## Subsetting data by conditions = filtering

In [41]:
# use conditional statements for returning rows from dataframe
# let's return all observations from village God
safi[(safi.village == "God")]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,cow_cart;bicycle;radio;cow_plough;solar_panel;...,2,Jan;Sept;Oct;Nov;Dec,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,NaN,NaN,1,solar_torch,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,NaN,NaN,2,bicycle;radio;cow_plough;solar_panel;mobile_phone,2,Sept;Oct;Nov;Dec,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,5,God,2016-11-17T00:00:00Z,7,40,burntbricks,1,NaN,NaN,4,motorcyle;radio;cow_plough;mobile_phone,2,Aug;Sept;Oct;Nov,uuid:2c867811-9696-4966-9866-f35c3e97d02d
5,6,God,2016-11-17T00:00:00Z,3,3,muddaub,1,NaN,NaN,1,NaN,2,Aug;Sept;Oct,uuid:daa56c91-c8e3-44c3-a663-af6a49a2ca70
6,7,God,2016-11-17T00:00:00Z,6,38,muddaub,1,no,never,1,motorcyle;cow_plough,3,Nov,uuid:ae20a58d-56f4-43d7-bafa-e7963d850844
10,11,God,2016-11-21T00:00:00Z,6,20,sunbricks,1,NaN,NaN,2,radio;cow_plough,2,Oct;Nov,uuid:d29b44e3-3348-4afc-aa4d-9eb34c89d483
11,12,God,2016-11-21T00:00:00Z,7,20,burntbricks,3,yes,never,2,cow_cart;bicycle;radio;cow_plough;table,3,Sept;Oct,uuid:e6ee6269-b467-4e37-91fc-5e9eaf934557
12,13,God,2016-11-21T00:00:00Z,6,8,burntbricks,1,no,never,3,bicycle;radio;cow_plough;mobile_phone,2,Sept;Oct;Nov,uuid:6c00c145-ee3b-409c-8c02-2c8d743b6918
13,14,God,2016-11-21T00:00:00Z,10,20,burntbricks,3,NaN,NaN,3,bicycle;radio;cow_plough;solar_panel;table;mob...,3,June;July;Aug;Sept;Oct;Nov,uuid:9b21467f-1116-4340-a3b1-1ab64f13c87d
14,15,God,2016-11-21T00:00:00Z,5,30,sunbricks,2,yes,once,3,bicycle;radio;cow_plough;solar_panel;table,2,Jan;Feb;Mar;Apr;May;June;July;Aug;Sept;Oct;Nov,uuid:a837e545-ff86-4a1c-a1a5-6186804b985f
15,16,God,2016-11-24T00:00:00Z,6,47,muddaub,1,NaN,NaN,4,radio;cow_plough;solar_panel;solar_torch,3,Jan;Feb,uuid:d17db52f-4b87-4768-b534-ea8f9704c565
16,17,God,2016-11-21T00:00:00Z,8,20,sunbricks,1,NaN,NaN,1,mobile_phone,2,Nov;Dec,uuid:4707f3dc-df18-4348-9c2c-eec651e89b6b
17,18,God,2016-11-21T00:00:00Z,4,20,muddaub,1,NaN,NaN,3,bicycle;mobile_phone,2,Oct;Nov,uuid:7ffe7bd1-a15c-420c-a137-e1f006c317a3
18,19,God,2016-11-21T00:00:00Z,9,23,burntbricks,2,NaN,NaN,2,bicycle;radio;cow_plough;solar_panel;solar_tor...,3,Oct;Nov;Dec,uuid:e32f2dc0-0d05-42fb-8e21-605757ddf07d
19,20,God,2016-11-21T00:00:00Z,6,1,burntbricks,1,NaN,NaN,1,bicycle;cow_plough;solar_torch,2,Oct;Nov,uuid:d1005274-bf52-4e79-8380-3350dd7c2bac
20,21,God,2016-11-21T00:00:00Z,8,20,burntbricks,1,no,never,3,NaN,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:6570a7d0-6a0b-452c-aa2e-922500e35749
21,22,God,2016-11-21T00:00:00Z,4,20,muddaub,1,NaN,NaN,1,radio,2,Jan;Feb;Mar;Apr;Aug;Sept;Oct;Nov;Dec,uuid:a51c3006-8847-46ff-9d4e-d29919b8ecf9
37,38,God,2016-11-17T00:00:00Z,10,19,muddaub,1,yes,never,3,bicycle;radio;cow_plough;solar_panel;table;mob...,3,Nov,uuid:81309594-ff58-4dc1-83a7-72af5952ee08
38,39,God,2016-11-17T00:00:00Z,6,22,muddaub,1,NaN,NaN,1,NaN,3,Nov,uuid:c0fb6310-55af-4831-ae3d-2729556c3285
39,40,God,2016-11-17T00:00:00Z,9,23,burntbricks,1,yes,never,1,bicycle;radio;cow_plough;solar_panel;table;mob...,3,Sept;Oct;Nov,uuid:c0b34854-eede-4e81-b183-ef58a45bfc34
40,41,God,2016-11-17T00:00:00Z,7,22,muddaub,1,NaN,NaN,2,motorcyle;bicycle;radio;cow_plough;table,3,Oct;Nov,uuid:b3ba34d8-eea1-453d-bc73-c141bcbbc5e5
41,42,God,2016-11-17T00:00:00Z,8,8,sunbricks,1,no,never,3,mobile_phone,3,Jan;Nov;Dec,uuid:e3a1dd8a-1bda-428c-a014-2b527f11ae64
75,155,God,2016-11-24T00:00:00Z,4,4,burntbricks,1,NaN,NaN,1,electricity,2,Jan;Sept;Oct;Nov;Dec,uuid:77b3021b-a9d6-4276-aaeb-5bfcfd413852
77,177,God,2016-11-25T00:00:00Z,10,13,sunbricks,1,no,more_once,2,motorcyle;television;cow_plough;solar_panel;mo...,3,Nov,uuid:87998c33-c8d2-49ec-9dae-c123735957ec
79,181,God,2016-11-25T00:00:00Z,11,25,sunbricks,2,yes,more_once,3,cow_cart;motorcyle;bicycle;television;radio;co...,3,none,uuid:bf373763-dca5-4906-901b-d1bacb4f0286
80,182,God,2016-11-25T00:00:00Z,7,21,muddaub,3,no,more_once,2,solar_panel,3,Jan;Feb;Nov;Dec,uuid:394033e8-a6e2-4e39-bfac-458753a1ed78
81,186,God,2016-11-28T00:00:00Z,7,24,muddaub,1,no,more_once,2,cow_plough;mobile_phone,3,none,uuid:268bfd97-991c-473f-bd51-bc80676c65c6
82,187,God,2016-11-28T00:00:00Z,5,43,muddaub,2,yes,more_once,4,cow_cart;motorcyle;bicycle;television;radio;co...,3,none,uuid:0a42c9ee-a840-4dda-8123-15c1bede5dfc
83,195,God,2016-11-28T00:00:00Z,5,48,burntbricks,1,no,never,3,cow_cart;bicycle;radio;cow_plough;solar_torch,2,Sept;Oct;Nov,uuid:2c132929-9c8f-450a-81ff-367360ce2c19
84,196,God,2016-11-28T00:00:00Z,7,49,burntbricks,2,yes,more_once,3,radio;cow_plough;mobile_phone,3,none,uuid:44e427d1-a448-4bf2-b529-7d67b2266c06
85,197,God,2016-11-28T00:00:00Z,5,19,burntbricks,2,no,more_once,3,bicycle;television;radio;cow_plough;solar_torc...,2,Nov,uuid:85c99fd2-775f-40c9-8654-68223f59d091
86,198,God,2016-11-28T00:00:00Z,3,49,burntbricks,1,no,never,1,NaN,3,Nov,uuid:28c64954-739c-444c-a6e0-355878e471c8
87,201,God,2016-11-21T00:00:00Z,4,6,muddaub,2,NaN,NaN,2,bicycle;radio;solar_torch;mobile_phone,2,Oct;Nov;Dec,uuid:9e79a31c-3ea5-44f0-80f9-a32db49422e3
88,202,God,2016-11-17T00:00:00Z,12,12,burntbricks,4,yes,more_once,3,cow_cart;radio;cow_plough;solar_panel;solar_to...,3,Jan;Feb;Mar;Oct;Nov;Dec,uuid:06d39051-38ef-4757-b68b-3327b1f16b9d
94,89,God,2017-04-27T00:00:00Z,5,10,burntbricks,2,no,never,3,bicycle;radio;cow_plough;solar_panel;solar_tor...,3,Oct;Nov,uuid:b3b309c6-f234-4830-8b30-87d26a17ee1d
95,101,God,2017-04-27T00:00:00Z,3,4,muddaub,1,no,never,1,bicycle;solar_torch,3,Sept;Oct;Nov,uuid:3c174acd-e431-4523-9ad6-eb14cddca805
102,106,God,2017-04-30T00:00:00Z,15,22,sunbricks,5,no,never,2,cow_cart;motorcyle;bicycle;radio;sterio;cow_pl...,3,Oct;Nov;Dec,uuid:468797c1-4a65-4f35-9c83-e28ce46972a2
103,109,God,2017-05-03T00:00:00Z,4,12,sunbricks,1,NaN,NaN,3,cow_cart;bicycle;radio;cow_plough;table,3,July;Aug;Sept;Oct;Nov,uuid:602cd3f6-4a97-49c6-80e3-bcfd5c78dfa4
110,108,God,2017-05-11T00:00:00Z,15,22,burntbricks,2,no,never,4,cow_cart;bicycle;radio;cow_plough;solar_panel;...,3,Aug;Sept;Oct;Nov,uuid:e4f4d6ba-e698-45a5-947f-ba6da88cc22b
116,159,God,2017-05-18T00:00:00Z,4,24,sunbricks,1,no,never,1,radio;solar_panel;solar_torch,3,Sept;Oct;Nov,uuid:37577f91-d665-443e-8d70-b914954cef4b
117,160,God,2017-06-03T00:00:00Z,7,13,burntbricks,2,yes,frequently,2,cow_cart;cow_plough;solar_torch;mobile_phone,2,Nov,uuid:f22831ec-6bc3-4b73-9197-4b01e01abb66

In [47]:
# combine conditions (filters)
safi[(safi.village == "Ruaca") & (safi.no_membrs > 15)]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
31,32,Ruaca,2016-11-21T00:00:00Z,19,69,muddaub,2,yes,more_once,5,cow_cart;motorcyle;radio;cow_plough;solar_pane...,2,none,uuid:25597af3-cd79-449c-a48a-fb9aea6c48bf
91,76,Ruaca,2017-04-26T00:00:00Z,17,48,burntbricks,2,yes,more_once,4,bicycle;radio;cow_plough;solar_panel;mobile_phone,3,none,uuid:4178a296-903a-4a8e-9cfa-0cd6143476e8

In [48]:
# combine filtering and select specific columns
safi[(safi.village == "Ruaca") & (safi.no_membrs > 15)][["no_membrs","years_liv","rooms"]]

    no_membrs  years_liv  rooms
31         19         69      2
91         17         48      2